# This is a simple .gitignore file with a basic structure.

# Ignore specific files or directories
.idea/
__pycache__/
.vscode/

# Exclude (unignore) a file or folder previously ignored
# Use '!' at the beginning of the line.

# example:
# !important_file.txt
# !keep_this_folder/
