[Unit]
Description=Gunicorn instance serving Flask Library App
After=network.target

[Service]
WorkingDirectory={{ flask_workdir }}
Environment="PATH={{ flask_workdir }}/venv/bin"
ExecStart={{ flask_workdir }}/venv/bin/gunicorn \
  -w {{ gunicorn_workers }} \
  -b 0.0.0.0:{{ flask_port }} \
  flask_app.library:create_app


[Install]
WantedBy=multi-user.target
